//Fonts for project

@font-face {
  font-family: "Public Sans";
  src: url("../text-fonts/PublicSans-Light.woff2") format("woff2"),
    url("../text-fonts/PublicSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../text-fonts/PublicSans-Regular.woff2") format("woff2"),
    url("../text-fonts/PublicSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../text-fonts/PublicSans-Bold.woff2") format("woff2"),
    url("../text-fonts/PublicSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
