//Variables for project

/*COLORS*/

//Primary Colors
$dark_blue: hsl(233, 26%, 24%);
$lime_green: hsl(136, 65%, 51%);
$bright_cyan: hsl(192, 70%, 51%);

//Neutral colors
$grayish_blue: hsl(233, 8%, 62%);
$lightgrayish_blue: hsl(220, 16%, 96%);
$verylight_gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(359, 100%, 0%);

/*TRANSITIONS*/
$slow: 0.7s ease-in-out;
$normal: 0.5s ease-in-out;
$fast: 0.3s ease-in-out;

/*OPACITIES*/ 

$normal_opacity: 0.6;